# .env

# fragments microservice API URL (make sure this is the right port for you)
VITE_API_URL=http://localhost:8080

# AWS Amazon Cognito User Pool ID (use your User Pool ID)
VITE_AWS_COGNITO_POOL_ID=

# AWS Amazon Cognito Client App ID (use your Client App ID)
VITE_AWS_COGNITO_CLIENT_ID=

# AWS Amazon Cognito Host UI domain (use your domain only, not the full URL)
VITE_AWS_COGNITO_HOSTED_UI_DOMAIN=

# OAuth Sign-In Redirect URL (use the port for your fragments-ui web app)
VITE_OAUTH_SIGN_IN_REDIRECT_URL=

# OAuth Sign-Out Redirect URL (use the port for your fragments-ui web app)
VITE_OAUTH_SIGN_OUT_REDIRECT_URL=